<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <button class="button button-block button-positive fb-login-btn" ng-click="fbLogin()">
      <span class="fb-login-icon"><i class="ion-social-facebook"></i></span>
      <span class="fb-login-text"><label style="font-size:18px;font-weight:bolder;">Register with Facebook</label><label style="display:block;">Nothing is shared without your permission</i></span>
    </button>
  </ion-content>
</ion-modal-view>
