<ion-view view-title="People Around You">
  <ion-content>
    <ion-list>
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      {{status}}
    </ion-list>
    <div class="list"> 

	    <a class="item item-thumbnail-left" ng-repeat="elem in mainData" href="#/app/playlists/{{$index}}">
	      <img src="{{elem[4]}}">
	      <h2>{{elem[1]}}</h2>
	      <p>{{getPlaceInfo(elem[3])}}</p>
	    </a>
	</div>
  </ion-content>
</ion-view>
